{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    Kantin Kejujuran
{% endblock %}


{% block body %}

    <h1 class="centertext selamatdatang">
        Hi, welcome
    </h1>

    <h1 class="centertext kantinkejujuran">
        @ KANTIN KEJUJURAN!
    </h1><br>

    <h1 class="othertext centertext">
        Click for adding item
    </h1>

    <a href="{% url 'feed:post' %}">
        <button class="button">Add Item</button>
    </a>

    <h1 class="othertext centertext">
        Item for sell, check them out!
    </h1>

    {% for post in posted %}
    <h1 class="centertext">{{ post.name }}</h1> <br>

    {% thumbnail post.image "200x200" crop="center" as im %}
        <img class="centerimage" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %} <br>


    <div class="centertext">
    {{ post.desc }} <br>
    </div>

    <div class="centertext">
    {{ post.price }} <br>
    </div>


    <div class="centertext">
    {{ post.created_time }} <br>
    </div>


    <div class="centertext">
    <a href="{% url 'feed:buy' %}">
        <button class="button">Buy Item</button>
    </a> <br>
    </div>
    <hr>
{% endfor %}

    
    
{% endblock %}
    
    